@use "mixins";
@use "variables";

main {
  margin: 0;
  min-height: 80vh;
}

#checkoutContainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 50px;
}

#payment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: fit-content;
  margin: 20px;
  padding: 50px;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;

    h3{
      margin: 0;
    }

    p {
      width: 350px;
    }

    input {
      margin-top: 5px;
      margin-bottom: 5px;
      border: 1px solid black;
      padding: 8px;
      border-radius: 8px;
      width: 320px;
    }
    .smallInput {
      width: 150px;
    }
    #payButton {
      border: 1px solid black;
      border-radius: 8px;
      padding: 8px;
      background-color: rgb(197, 192, 184);
      cursor: pointer;
      margin-top: 0;
    }
  }

  #payButton:hover {
    background-color: rgb(212, 212, 212);
  }

  @include mixins.desktop {
    form {
      position: absolute;
      top: 35%;
      right: 15%;
      line-height: 50px;
    }
  }
}

#clearCartinCheckout {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
  margin-left: 70px;
}

#clearCartinCheckout:hover {
  background-color: rgb(212, 212, 212);
}

/*#cartItemContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
} */

.productInCheckout {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  line-height: normal;
  height: 200px;
  width: 90vw;
  margin-left: 25px;
  margin-top: 10px;
  &__image {
    height: 200px;
    width: 200px;
  }
  &__article {
    padding: 20px;
  }
  &__title {
    font-size: 16px;
    margin: 0;
  }
  &__artist{
    margin: 0;
  }
  &__description {
    font-size: 16px;
    display: none;
  }
  @include mixins.desktop {
    flex-direction: row;
    line-height: normal;
    height: 200px;
    width: 40vw;
    margin-left: 70px;
    margin-top: 50px;
    &__image {
      width: 200px;
      height: 200px;
    }
  }
}

.paymentSuccess {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.payment__form {
  border: 1px solid black;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-body {
  position: absolute;
  left: 5%;
  top: 30%;
  display: flex;
  width: 80%;
  height: 30%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  @include mixins.desktop {
    width: 50%;
    left: 25%;
    height: 40%;
    top: 30%;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.modal-body button {
  width: auto;
  padding: 2%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
}

.pTagInCheckoutModal {
  font-size: 25pt;
  padding: 20px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#sumProductsCheckout{
  //margin: 0;
  @include mixins.desktop{
    margin: 0;
  }
}

#homeButton{
  width: 20%;
  cursor: pointer;
}

#homeButton:hover{
  background-color: rgb(212, 212, 212);
}
