@use "mixins";
@use "variables";

#payment {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
  @include mixins.desktop {
    flex-direction: column;
  }
}

#cartItemContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

.productInCart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  @include mixins.desktop {
    width: 25%;
  }

  &__image {
    height: 250px;
    width: 250px;
    @include mixins.desktop {
      margin: 20px;
    }
  }

  &__title {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__price {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__description {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__button {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 20px;
    width: 20px;
    //@include mixins.fa-icon-solid($fa-var-cart-plus);
  }
}

.paymentSuccess {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
  position: absolute;
  left: 40%;
  top: 30%;
  display: flex;
  width: 20%;
  height: 20%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #b95555;
  color: #333;
}

.modal-body button {
  width: 30px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
