@use "mixins";

footer{
    background-color: pink;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 15pt;
    p{
        padding: 20px;
    }

    @include mixins.desktop{
     justify-content: space-around;
     flex-direction: row;
    }
}