@use "mixins";
@use "variables";

#productsMain {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#productsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  @include mixins.desktop {
    width: 25%;
  }

  &__image {
    height: 250px;
    width: 250px;
    @include mixins.desktop {
      margin: 20px;
    }
  }

  &__title {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__price {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__description {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__button {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 20px;
    width: 20px;
    //@include mixins.fa-icon-solid($fa-var-cart-plus);
  }
}
