* {
  margin: 0;
}

img {
  width: 40%;
}

#productDetailMain {
  height: 30rem;
}

#productDetailMain h1 {
  color: black;
}

#productDetailContainer {
  display: flex;
  flex-direction: row;
}

.productImage, .productDetails {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

aside {
  display: flex;
  flex-direction: column;
}
