@use "mixins";
@use "variables";

#productsMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
}

#productsContainer {
  display: flex;
  //flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  //justify-content: space-around;

  @include mixins.desktop {
    justify-content: center;
  }
}

.product {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 50px;
  @include mixins.desktop {
    //width: 250px;
    margin: 20px;
  }

  &__article {
    width: 190px;
  }

  &__image {
    height: 250px;
    width: 250px;
    @include mixins.desktop {
    }
  }

  &__title {
    font-size: 18px;
    padding-top: 20px;
    margin-left: 10px;
  }

  &__artist {
    margin-left: 10px;
    font-size: 13px;
    color: rgb(165, 165, 165);
    font-weight: lighter;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
  }

  &__description {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    display: none;
  }

  &__button {
    height: 20px;
    width: 20px;
    margin: 0;
    border: none;
    background-color: white;
    font-size: 15pt;
    cursor: pointer;
    padding: 20px;
  }
  &__divContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.productInModal__button,
#backaKnapp,
.checkoutDeleteBtn {
  width: fit-content;
  border: none;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  margin: 20px;
  font-size: 15pt;
  height: 40px;
}

#backaKnapp {
  position: absolute;
  margin: 10px;
}

.productInModal {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  line-height: normal;
  &__image {
    width: 200px;
    height: 200px;
  }
  &__article {
    padding: 20px;
  }
  &__title {
    font-size: 16px;
  }
  &__artist {
    font-size: 13px;
    color: rgb(165, 165, 165);
    font-weight: lighter;
    margin-bottom: 10px;
  }
  &__description {
    font-size: 16px;
    display: none;
    @include mixins.desktop {
      //display: contents;
    }
  }
}

.product__button {
  display: flex;
}

.counter-controls {
  width: 50px;
  display: flex;
  height: 39px;
}

.product__plusMinus {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 30px;
}

.product__quantity {
  padding: 10px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.decrease {
  background-color: white;
  border: none;
  cursor: pointer;
}

.increase {
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
  cursor: pointer;
}

#filter{
  margin-left: 50px;
  margin-top: 20px;
}

.filterBtn{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.filterBtn:hover {
  background-color: rgb(212, 212, 212);
}