#productsMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#productsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dotted;
  width: 100%;

  &__image {
    height: 100%;
    width: 100%;
  }

  &__title {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__price {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__description {
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &__button {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 20px;
    width: 20px;
  }
}
