@use "mixins";

body {
  margin: 0em;
  padding: 0;
  min-height: 100vh;
}

main {
  height: 500px;

  #startpageImage h1 {
    color: white;
  }
}

#startpageImage{
  background-image: url(../assets/herowallpaper.jpg);
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}