@use "mixins";

body {
  margin: 0em;
  padding: 0;
  min-height: 100vh;
}

#startpageImage {
  background-image: url(../assets/herowallpaper.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  height: 100vh;
}

#startArticle{
  text-align: center;
  border: 1px solid black;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 40%;
  font-size: 20pt;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
  background-color: transparentize($color: #ffffff, $amount: 0.7);

  @include mixins.desktop{
    margin-top: 15%;
  }
}

#addProductCounter:after {
  content: attr(value);
  font-size: 10px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5 8px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.8;
}

#clearCartinModal{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

#clearCartinModal:hover {
  background-color: rgb(212, 212, 212);
}
