@use "mixins";

body {
  margin: 0em;
  padding: 0;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  height: fit-content;
}

#startpageImage {
  background-image: url(../assets/herowallpaper.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  height: 100vh;
}

#addProductCounter:after {
  content: attr(value);
  font-size: 10px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5 8px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.8;
}
